.App{}
.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  /*text-align: center;*/
}
.My-pic{
  height: 475px;
  display: flex;
  width: auto;
  position:absolute;
}
.home-img{
  background: black;
}


.main-container {
  position: relative;
  width:100%;
  min-height:calc(100% - 100px);
  background-image:    linear-gradient(
          rgba(144, 179, 240, 0.45),
          rgba(144, 179, 240, 0.45)
  ),
  /*Background image*/
  url("img/Background_pic.png");
  background-size: cover;
  background-attachment:fixed;
  background-width: 100%;
}


